<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/patient_layout}">
<head>
    <meta charset="UTF-8">
    <title>Check_Up details</title>
    <link href="/css/patient_profile.css" rel="stylesheet">
</head>
<body>
<div layout:fragment="patient_content">

    <div class="wrapper bg-white mt-sm-5 order-details">
        <h4 class="pb-4 border-bottom">Details order</h4>
        <div class="col-xl-12 col-12 col-md-12 mt-3">

            <div class="row py-2">
                <div class="col-md-6 col-xl-6"><label for="firstname">Name</label>
                    <input type="text" name="firstname" class="bg-light form-control"
                           id="firstname" th:object="${patient}" th:field="*{firstName}" disabled></div>
                <div class="col-md-6 col-xl-6 pt-md-0 pt-3"><label for="lastname">Surname</label>
                    <input type="text" name="lastName" class="bg-light form-control"
                           placeholder id="lastName" th:object="${patient}" th:field="*{lastName}" disabled>
                </div>
            </div>

            <div class="row py-2">
                <div class="col-md-6 col-xl-6"><label for="habits">Bad habits</label>
                    <input type="text" name="habits" class="bg-light form-control"
                           id="habits" th:object="${check_up}" th:field="*{badHabits}" disabled></div>

                <div class="col-md-6 col-xl-6 pt-md-0 pt-3"><label for="drugs_taken">Drugs taken</label>
                    <input type="text" name="drugs_taken" class="bg-light form-control"
                           placeholder id="drugs_taken" th:object="${check_up}" th:field="*{drugsTaken}" disabled>
                </div>
            </div>

            <div class="row py-2">
                <div class="col-md-6 col-xl-6"><label for="diseases">Chronic diseases</label>
                    <input type="text" name="diseases" class="bg-light form-control"
                           id="diseases" th:object="${check_up}" th:field="*{chronicDiseases}" disabled></div>
                <div class="col-md-6 col-xl-6"><label for="hereditary">Hereditary diseases</label>
                    <input type="text" name="hereditary" class="bg-light form-control"
                           id="hereditary" th:object="${check_up}" th:field="*{hereditary_diseases}" disabled></div>
            </div>

            <div class="row py-2">
                <div class="col-md-12 col-xl-12 pt-md-0 pt-3"><label for="diet">Features of nutrition and diet</label>
                    <input type="text" name="diet" class="bg-light form-control"
                           placeholder id="diet" th:object="${check_up}" th:field="*{featuresNutrition}" disabled>
                </div>
            </div>

            <div class="form-group col-xl-12 col-12 p-1">
                <label>Complaints patient's<span></span></label>
                <div class="card">
                    <div class="card-body">
                        <p th:text="${check_up.getComplaints()}">
                        </p>
                    </div>
                </div>
            </div>

            <div class="row py-4">
                <div class="row col-xl-12 col-12 col-md-12 ml-1">
                    <p class="personal-data">Doctor:</p>
                    <div class="edit col-xl-6 col-6 col-md-6 p-1">
                        <h4 th:object="${check_up}" th:text="${check_up.getNameDoctor()}" class="ml-2 mb-2"></h4>
                    </div>
                </div>
            </div>

            <label class="consultation">Recommended list of medical tests<span></span></label>
            <div class="card">
                <div class="card-body">
                    <p th:object="${check_up}" th:text="${check_up.getAnswer()}">
                    </p>
                </div>
            </div>
        </div>
        <div>
            <a th:href="@{/patient/completed/order/check_up}" type="button"
               class="btn btn-outline-danger ml-3 mt-3">Back</a>
        </div>
    </div>

</div>
</body>
</html>