<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link href="/css/home_page_dashboard.css" rel="stylesheet">
    <style>
        section.footer {
            padding: 0;
            margin: 0;
        }
    </style>
</head>
<body>
<div layout:fragment="content">

    <nav class="navbar navbar-expand-sm navbar-expand-md navbar-expand-lg navbar-expand-xl navbar-light"
         style="background-color: #e3f2fd;">
        <a class="navbar-brand" th:href="@{/main}">
            <img src="https://cloud.vodafone.ua/mmb/v2/publink/file/get?disposition_mode=inline&type=original&link=rX3HTzLWa4OsKy4"
                 width="40" height="40" alt="logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
                aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/main}">Home page<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/main/about}">About us <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/main/articles}">Articles <span class="sr-only">(current)</span></a>
                </li>
            </ul>

            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a th:href="@{/login}" type="button" class="btn btn-outline-primary">Personal cabinet</a>
                </li>
            </ul>
        </div>
    </nav>
    <div layout:fragment="home_content" class="home-content"></div>

    <section class="footer">
        <div class="container-fluid">
            <div class="row no-gutters">
                <div class="col-6">
                    <div class="contact">Contact with us</div>
                    <p class="address">Malinovskogo Street 8 / Kharkov Ukraine</p>
                    <p class="phone">Phone: <span>+38 (066) 951 83 51</span></p>
                    <p class="email">E-mail: <span>ira1994girl@gmail.com</span></p>
                </div>
                <div class="col-6">
                    <ul>
                        <li class="instagram"><a
                                href="https://instagram.com/laboratorydoc_rastvorceva?igshid=1ibp6uytkzcgl"><img
                                src="https://cloud.vodafone.ua/mmb/v2/publink/file/get?disposition_mode=inline&type=original&link=OCgSAEHZfI6sIs2"
                                alt="instagram"></a></li>
                        <li class="telegram"><a href="https://t.me/LaboratoryDoc_Rastvorceva">
                            <img src="https://cloud.vodafone.ua/mmb/v2/publink/file/get?disposition_mode=inline&type=original&link=eInVDgiScGsCNZg"
                                 alt="telegram"></a>
                        </li>
                        <li class="viber"><a href="/"><img
                                src="https://cloud.vodafone.ua/mmb/v2/publink/file/get?disposition_mode=inline&type=original&link=M0LMbZHwl5jS1ZZ"
                                alt="viber"></a>
                        </li>
                        <li class="whatsapp"><a href="https://wa.me/380669518351"><img
                                src="https://cloud.vodafone.ua/mmb/v2/publink/file/get?disposition_mode=inline&type=original&link=IqewQGTx2aRr5hB"
                                alt="whatsapp"></a></li>
                        <li class="youTube"><a href="https://www.youtube.com/channel/UCzaw9ZU2Mvlpt9NOKvgGWXg"><img
                                src="https://cloud.vodafone.ua/mmb/v2/publink/file/get?disposition_mode=inline&type=original&link=XlVZHctsfl3xPNI"
                                alt="youTube"></a>
                        </li>
                    </ul>
                    <p class="copyright">Copyright ⓒ 2022. All rights reserved by Noskov Oleh</p>
                </div>
            </div>
        </div>
    </section>
</div>

</body>
</html>