<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/admin_layout}">
<head>
    <meta charset="UTF-8">
    <title>Page Admin</title>
    <style>
        p {
            color: #6b6f70;
        }

        div.container {
            border-color: #ffffff;
        }
    </style>
    <link href="/css/admin/admin_dashboard.css" rel="stylesheet">
</head>
<body>
<div layout:fragment="admin_content">
    <div class="container-fluid mt-5">
        <div class="container p-5">
            <div class="row">
                <div class="col text-center col-12 col-md-12 col-xl-4 d-flex align-items-stretch mt-2">
                    <div class="card" style="width: 20rem;">
                        <img src="/img/transcript.PNG" alt="" class="card-img-top">
                        <div class="card-body d-flex flex-column">
                            <h4 class="card-title ricing-card-title"></h4>
                            <p class="card-text"></p>
                            <a th:href="@{/admin/transcript}"
                               class="btn btn-outline-info align-self-end btn btn-lg btn-block mt-auto">All
                                transcript</a>
                        </div>
                    </div>
                </div>
                <div class="col text-center col-12 col-md-12 col-xl-4 d-flex align-items-stretch mt-2">
                    <div class="card" style="width: 20rem;">
                        <img src="/img/check-up.PNG" alt="" class="card-img-top">
                        <div class="card-body d-flex flex-column">
                            <h4 class="card-title ricing-card-title"></h4>
                            <p class="card-text"> </p>
                            <a th:href="@{/admin/check_up}"
                               class="btn btn-outline-warning align-self-end btn btn-lg btn-block mt-auto">All
                                Check-Up</a>
                        </div>
                    </div>
                </div>
                <div class="col text-center col-12 col-md-12 col-xl-4 d-flex align-items-stretch mt-2">
                    <div class="card" style="width: 20rem;">
                        <img src="/img/comprehensive.png" alt="" class="card-img-top">
                        <div class="card-body">
                            <h4 class="card-title mb-5"></h4>
                            <p class="card-text"></p>
                            <a th:href="@{/admin/consultation}"
                               class="btn btn-outline-success align-self-end btn btn-lg btn-block mt-auto">All
                                consultation</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container p-5 ml-5">
            <div class="row">
                <div class="col text-center col-12 col-md-6 col-xl-6 d-flex align-items-stretch mt-2">
                    <div class="card" style="width: 20rem;">
                        <img src="https://cloud.vodafone.ua/mmb/v2/publink/file/get?disposition_mode=inline&type=original&link=0u3Yn4AEnIdCYUm"
                             alt="" class="card-img-top p-4">
                        <div class="card-body d-flex flex-column">
                            <h4 class="card-title ricing-card-title"></h4>
                            <p class="card-text"></p>
                            <a th:href="@{/admin/doctors}"
                               class="btn btn-outline-warning align-self-end btn btn-lg btn-block mt-auto">All
                                Doctors</a>
                        </div>
                    </div>
                </div>
                <div class="col text-center col-12 col-md-6 col-xl-6 d-flex align-items-stretch mt-2">
                    <div class="card" style="width: 20rem;">
                        <img src="https://cloud.vodafone.ua/mmb/v2/publink/file/get?disposition_mode=inline&type=original&link=11BxULchkIHz0GT"
                             alt="" class="card-img-top p-4">
                        <div class="card-body">
                            <h4 class="card-title "></h4>
                            <p class="card-text"></p>
                            <a th:href="@{/admin/patients}"
                               class="btn btn-outline-success align-self-end btn btn-lg btn-block mt-auto">All
                                Patients</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</body>
</html>