<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/admin_layout}">
<head>
    <meta charset="UTF-8">
    <title>Page Admin</title>
    <style>
        p {
            color: #6b6f70;
        }

    </style>
    <link href="/css/admin/admin_dashboard.css" rel="stylesheet">
</head>
<body>
<div layout:fragment="admin_content">

    <div class="wrapper bg-white mt-sm-5 p-5">
        <h1 class="title mt-3 mb-3" align="center">Statistics "Doctor online"</h1>
        <div class="container-fluid">

            <div class="row ml-5">
                <div class="col-12 col-md-6 col-xl-6">
                    <h2 class="title mt-5">Users</h2>
                    <div class="my-3">
                        <span class="order">Doctors:</span>
                        <span class="order" th:text="${countDoctors}"></span>
                    </div>

                    <div class="my-3">
                        <span class="order">Patients:</span>
                        <span class="order" th:text="${countPatients}"></span>
                    </div>

                    <div class="my-3">
                        <span class="order">All users:</span>
                        <span class="order" th:text="${allUsers}"></span>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-xl-6">
                    <h2 class="title mt-5">All orders</h2>
                    <div class="my-3">
                        <span class="order">List vitamins orders:</span>
                        <span class="order" th:text="${allTranscript}"></span>
                    </div>
                    <div class="my-3">
                        <span class="order">Check-UP orders:</span>
                        <span class="order" th:text="${allCheckUp}"></span>
                    </div>
                    <div class="my-3">
                        <span class="order">Consultation orders:</span>
                        <span class="order" th:text="${allConsultation}"></span>
                    </div>
                    <div class="my-3">
                        <span class="order">All orders:</span>
                        <span class="order" th:text="${allOrders}"></span>
                    </div>
                </div>
            </div>

            <div class="row ml-5">
                <div class="col-12 col-md-6 col-xl-6">
                    <h2 class="title2 mt-5">Success orders</h2>
                    <div class="my-3">
                        <span class="order">List vitamins orders:</span>
                        <span class="order" th:text="${countSuccessTranscript}"></span>
                    </div>
                    <div class="my-3">
                        <span class="order">Check-UP orders:</span>
                        <span class="order" th:text="${countSuccessCheckUp}"></span>
                    </div>
                    <div class="my-3">
                        <span class="order">Consultation orders:</span>
                        <span class="order" th:text="${countSuccessConsultation}"></span>
                    </div>
                    <div class="my-3">
                        <span class="order">All success orders:</span>
                        <span class="order" th:text="${allSuccessOrders}"></span>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-xl-6">
                    <h2 class="title2 mt-5">Review orders</h2>
                    <div class="my-3">
                        <span class="order">List vitamins orders:</span>
                        <span class="order" th:text="${countReviewTranscript}"></span>
                    </div>
                    <div class="my-3">
                        <span class="order">Check-UP orders:</span>
                        <span class="order" th:text="${countReviewCheckUp}"></span>
                    </div>
                    <div class="my-3">
                        <span class="order">Consultation orders:</span>
                        <span class="order" th:text="${countReviewConsultation}"></span>
                    </div>
                    <div class="my-3">
                        <span class="order">All review orders:</span>
                        <span class="order" th:text="${allReviewsOrders}"></span>
                    </div>
                </div>
            </div>

            <div class="row ml-5">
                <div class="col-12 col-md-6 col-xl-6">
                    <h2 class="title3 mt-5">General money turnover</h2>
                    <div class="my-3">
                        <span class="order ml-5">Total turnover:</span>
                        <span class="order" th:text="${allGeneralMoney}"></span>
                        <span class="order">$</span>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-xl-6">
                    <h2 class="title3 mt-5">Disposable income</h2>
                    <div class="my-3">
                        <span class="order ml-5">Total:</span>
                        <span class="order" th:text="${disposableIncome}"></span>
                        <span class="order">$</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>