@import url('https://fonts.googleapis.com/css2?family=Ubuntu');
html,body {
    background: url('https://орфографика.рф/800/600/https/www.ppt-backgrounds.net/thumbs/wallpaper-web-fractal21s-3dfiction-images-4k-full---design-ppt.jpeg') no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    font-family: 'Ubuntu', sans-serif;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
a.nav-item.nav-link:hover{
    cursor: pointer;
    text-decoration-line: underline;
    color: #12ccc6;
}
a.nav-item.nav-link {
    color: white;
}
.sort {
    cursor: pointer;
    margin-right: 2em;
}