* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body {
    font-family: 'Poppins', sans-serif;
    background: url('https://cloud.vodafone.ua/mmb/v2/publink/file/get?disposition_mode=inline&type=original&link=CP9s91ybkKc966T') no-repeat center center fixed;
}

a.nav-item.nav-link:hover{
    cursor: pointer;
    text-decoration-line: underline;
    color: #12ccc6;
}
a.nav-item.nav-link {
    color: white;
}