<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/patient_layout}">
<head>
    <meta charset="UTF-8">
    <title>Personal cabinet</title>
    <style>
    p {
   color: #6b6f70;
    }
    div.container{
        border-color: #ffffff;
    }
    </style>
</head>
<body>
<div layout:fragment="patient_content">

    <div class="container-fluid mt-5">
        <div class="container p-5">
            <div class="row">
                <div class="col text-center col-md-4 d-flex align-items-stretch">
                    <div class="card" style="width: 20rem;">
                        <img src="/img/transcript.PNG" alt="" class="card-img-top">
                        <div class="card-body d-flex flex-column">
                            <h4 class="card-title ricing-card-title"><b>Transcript of medical analysis</b></h4>
                            <p class="card-text">Clinical and laboratory conclusion on any
                                analyzes of an adult / child within 24 hours, analysis of indicators,
                                reasons for changes in the norm and in pathologies.</p>
                            <a th:href="@{/registration}" class="btn btn-info align-self-end btn btn-lg btn-block mt-auto">Submit</a>
                        </div>
                    </div>
                </div>
                <div class="col text-center col-md-4 d-flex align-items-stretch">
                    <div class="card" style="width: 20rem;">
                        <img src="/img/check-up.PNG" alt="" class="card-img-top">
                        <div class="card-body">
                            <h4 class="card-title"><b>Check-Up</b></h4>
                            <p class="card-text">You will receive an individual list
                                of tests that need to be passed in your situation
                                and to monitor your health.</p>
                            <a th:href="@{/registration}" class="btn btn-info align-self-end btn btn-lg btn-block mt-auto">Submit</a>
                        </div>
                    </div>
                </div>
                <div class="col text-center col-md-4 d-flex align-items-stretch">
                    <div class="card" style="width: 20rem;">
                        <img src="/img/comprehensive.png" alt="" class="card-img-top">
                        <div class="card-body">
                            <h4 class="card-title "><b>Comprehensive consultation</b></h4>
                            <p class="card-text">
                                Analysis of your situation, with a review of all analyzes and your examinations with a clinical
                                and diagnostic conclusion and recommendations for your further actions.
                               ️Recommendations for the delivery of tests.</p>
                            <a th:href="@{/registration}" class="btn btn-info align-self-end btn btn-lg btn-block mt-auto">Submit</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

</body>
</html>