<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/patient_layout}">
<head>
    <meta charset="UTF-8">
    <title>Personal cabinet</title>
    <style>
        p {
            color: #6b6f70;
        }

        div.container {
            border-color: #ffffff;
        }

        .example {
            opacity: 1;
            -webkit-transition: .3s ease-in-out;
            transition: .3s ease-in-out;
        }

        .example:hover {
            opacity: .7;
        }
    </style>
    <link href="/css/patient_dashboard.css" rel="stylesheet">
</head>

<body>
<div layout:fragment="patient_content">
<!--    <script src="https://cdn.jsdelivr.net/npm/promise-polyfill"></script>-->
<!--    <script>-->
<!--        $(document).ready(function() {-->
<!--            Swal.fire({-->
<!--                title: 'Успешно!',-->
<!--                html: 'Вы успешно вошли в кабинет', // или text-->
<!--                type: 'success',-->
<!--                confirmButtonText: 'Ок',-->

<!--                buttonsStyling:!1,-->
<!--                confirmButtonClass:"btn btn-lg btn-alt-success m-5",-->
<!--                cancelButtonClass:"btn btn-lg btn-alt-danger m-5",-->
<!--                inputClass:"form-control",-->
<!--            })-->
<!--        });-->
<!--    </script>-->
    <div class="container-fluid mt-5">
        <div class="container p-5">
            <div class="row">
                <div class="col text-center col-12 col-md-12 col-xl-4 d-flex align-items-stretch mt-2">
                    <div class="card" style="width: 20rem;">
                        <img src="/img/transcript.PNG" alt="" class="card-img-top">
                        <div class="card-body d-flex flex-column">
                            <h4 class="card-title ricing-card-title"><b>Transcript of medical analysis</b></h4>
                            <p class="card-text">Clinical and laboratory conclusion on any
                                analyzes of an adult / child within 24 hours, analysis of indicators,
                                reasons for changes in the norm and in pathologies.</p>
                            <p class="price-text-one">
                                Service cost: 6 $ (150 UAH or 450 RUB)
                            </p>
                            <a th:href="@{/patient/order/new/transcript}"
                               class="btn btn-outline-info align-self-end btn btn-lg btn-block mt-auto">Decipher analysis</a>
                        </div>
                    </div>
                </div>
                <div class="col text-center col-12 col-md-12 col-xl-4 d-flex align-items-stretch mt-2">
                    <div class="card" style="width: 20rem;">
                        <img src="/img/check-up.PNG" alt="" class="card-img-top">
                        <div class="card-body d-flex flex-column">
                            <h4 class="card-title ricing-card-title"><b>Check-Up</b></h4>
                            <p class="card-text">You will receive an individual list
                                of tests that need to be passed in your situation
                                and to monitor your health.</p>
                            <p class="price-text-two">
                                Service cost: 8 $ (200 UAH or 600 RUB)
                            </p>
                            <a th:href="@{/patient/order/new/check-up}"
                               class="btn btn-outline-warning align-self-end btn btn-lg btn-block mt-auto">Order Check-Up</a>
                        </div>
                    </div>
                </div>
                <div class="col text-center col-12 col-md-12 col-xl-4 d-flex align-items-stretch mt-2">
                    <div class="card" style="width: 20rem;">
                        <img src="/img/comprehensive.png" alt="" class="card-img-top">
                        <div class="card-body">
                            <h4 class="card-title "><b>Comprehensive consultation</b></h4>
                            <p class="card-text">
                                Analysis of your situation, with a review of all analyzes and your examinations with a
                                clinical
                                and diagnostic conclusion and recommendations for your further actions.
                                ️Recommendations for the delivery of tests.</p>
                            <p class="price-text-three">
                                Service cost: 12 $ (300 UAH or 850 RUB)
                            </p>
                            <a th:href="@{/patient/order/new/comprehensive}"
                               class="btn btn-outline-success align-self-end btn btn-lg btn-block mt-auto">Order consultation</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row gutters-tiny mb-3">
            <div class="col-12 col-md-6 col-xl-3 mt-2 example">
                <a class="block text-center" th:href="@{/patient/analyzes/all/success}">
                    <img src="/img/my_orders.png" width="250"
                         height="200" alt="example">
                </a>
            </div>

            <div class="col-12 col-md-6 col-xl-3 mt-2 example">
                <a class="block text-center" th:href="@{/patient/analyzes/all/temp}">
                    <img src="/img/my_analyses_dashboard.png" width="250"
                         height="200" alt="example" class="my_image">
                </a>
            </div>

            <div class="col-12 col-md-6 col-xl-3 mt-2 example">
                <a class="block text-center" th:href="@{/patient/analyzes/all/examples}">
                    <img src="/img/example_transcript.png" width="250"
                         height="200" alt="example">
                </a>
            </div>

            <div class="col-12 col-md-6 col-xl-3 mt-2 example">
                <a class="block text-center" href="https://analitika-lab.com.ua/price">
                    <img src="/img/price_analyses.png" width="250"
                         height="200" alt="example">
                </a>
            </div>
        </div>
    </div>

</div>

</body>
</html>