<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/patient_layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/css/patient_profile.css" rel="stylesheet">
</head>
<body>
<div layout:fragment="patient_content">

    <div class="wrapper bg-white mt-sm-5">
        <h4 class="pb-4 border-bottom">Profile settings</h4>
        <div class="d-flex align-items-start py-3 border-bottom"> <img src="https://images.pexels.com/photos/1037995/pexels-photo-1037995.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="img" alt="">
            <div class="pl-sm-4 pl-2" id="img-section"> <b>Profile Photo</b>
                <p>Accepted file type .png. Less than 1MB</p> <button class="btn button border"><b>Upload</b></button>
            </div>
        </div>
        <div class="py-2">
            <div class="row py-2">
                <div class="col-md-6"> <label for="firstname">First Name</label> <input type="text" class="bg-light form-control" placeholder="Steve"> </div>
                <div class="col-md-6 pt-md-0 pt-3"> <label for="lastname">Last Name</label> <input type="text" class="bg-light form-control" placeholder="Smith"> </div>
            </div>
            <div class="radio py-2">
                <span>Sex</span>
                <label>
                    <input type="radio" name="sex" value="male">MALE<div class="radio-control male"></div>
                </label>
                <label>
                    <input type="radio" name="sex" value="female">FEMALE<div class="radio-control female"></div>
                </label>
            </div>
            <div class="row py-2">
                <div class="col-md-6"> <label for="country">Country</label> <select name="country" id="country" class="bg-light">
                    <option value="india" selected>India</option>
                    <option value="usa">USA</option>
                    <option value="uk">UK</option>
                    <option value="uae">UAE</option>
                </select> </div>
<!--                <div class="col-md-6 pt-md-0 pt-3" id="lang"> <label for="birthday">Birthday</label>-->
<!--                        <label for="age"> Birthday<em>*</em></label>-->
<!--                        <input id="age" type="date" min="1920-01-01" max="2022-01-01"><br>-->
<!--                    </select>-->
<!--                </div>-->
            </div>
            <div class="py-3 pb-4 border-bottom"> <button class="btn btn-primary mr-3" type="submit">Save Changes</button> </div>
            <div class="d-sm-flex align-items-center pt-3" id="deactivate">
                <div> <b>Deactivate your profile</b>
                </div>
                <div class="ml-auto"> <button class="btn danger">Deactivate</button> </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>