<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/data}">
<head>
  <meta charset="utf-8">
  <title>Accounts All</title>
</head>
<body>

<div layout:fragment="data_table_content">

  <tr th:each="account,iter : ${accounts}">
    <td th:text="${iter.count}"></td>
    <td th:text="${account.getAccountNumbers()}"></td>
    <td th:text="${account.getBalance()}"></td>
    <td>
      <a th:href="@{'/accounts/details/' + ${account.getId()}}" type="button" class="btn btn-outline-info">Details</a>
    </td>
    <td>
      <a th:href="@{'/accounts/delete/' + ${account.getId()}}" type="button" class="btn btn-outline-danger">Delete</a>
    </td>
  </tr>
</div>


</body>
</html>