<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="utf-8">
    <title>Details</title>
</head>
<body>

<div layout:fragment="content">

    <div class="row">
        <div class="col-12">
            <div class="card mb-2 mt-2">
                <div class="card-header">
                    <table>
                        <tr>
                            <th><h2><b><a style="color:black;">Check</a></b></h2></th>
                        </tr>
                    </table>
                </div>
                <div class="card-body" style="opacity: 1.0">
                    <table class="table table-hover table-light">
                        <tr>
                            <th>Number check</th>
                            <td th:text="${account.getAccountNumbers()}"></td>
                        </tr>
                        <tr>
                            <th>Balance</th>
                            <td th:text="${account.getBalance()}"></td>
                        </tr>
                        <tr>
                            <th>Updating</th>
                            <td th:text="${account.getUpdated()}"></td>
                        </tr>
                    </table>

                    <table class="table table-hover table-light">
                        <th>Transactions:</th>
                        <tr th:each="transaction,iter : ${accountTransactions}">
                            <td th:text="${iter.count}"></td>
                            <td th:text="${transaction.getCategoryName()}"></td>

                            <td>
                                <div th:switch="${transaction.isCategoryIncomeExpense()}">
                                    <p th:case=true>
                                        <font color="#7cfc00"><a
                                                th:text="${transaction.getTransactionSum()}"></a></font>
                                    </p>
                                    <p th:case=false>
                                        <font color="red"><a th:text="${transaction.getTransactionSum()}"></a></font>
                                    </p>
                                </div>
                            </td>
                            <td th:text="${transaction.getCreated()}"></td>
                        </tr>
                    </table>

                    <div th:if="${accountDataList.size() != 0}">
                        <table class="table table-hover table-dark">
                            <form action="#" th:action="@{/accounts/getAnExtract }" th:object="${statement}"
                                  method="post">
                                <input type="hidden" id="id" aria-describedby="id" th:field="*{id}"
                                       th:value="${statement.getId()}">
                                <th>Account statement:</th>
                                <td>
                                    <button type="submit" class="btn btn-success">Download</button>
                                </td>
                            </form>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>