<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/patient_layout}">
<head>
    <meta charset="UTF-8">
    <title>New feedback</title>
    <link href="/css/patient_profile.css" rel="stylesheet">
</head>
<body>
<div layout:fragment="patient_content">

    <div class="wrapper bg-white mt-sm-5">
        <h4 class="pb-4 border-bottom">New feedback</h4>
        <form action="#" th:action="@{/patient/feedback/new}" th:object="${feedback}" method="post">
            <div class="py-2">
                <div class="row py-2">
                    <div class="form-group col-md-6 col-xl-12 col-12">
                        <label for="new_feedback">Text your feedback <span class="text-danger">*</span></label>
                        <textarea class="form-control" id="new_feedback" rows="3" th:field="*{textFeedback}" required></textarea>
                    </div>
                    <button type="submit" class="btn btn-outline-primary mx-3">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>

</body>
</html>