<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/patient_layout}">
<head>
    <meta charset="UTF-8">
    <title>Edit feedback</title>
    <link href="/css/patient_profile.css" rel="stylesheet">
</head>
<body>
<div layout:fragment="patient_content">

    <div class="wrapper bg-white mt-sm-5 order-details">
        <h4 class="pb-4 border-bottom">Edit feedback</h4>
        <div class="col-xl-12 col-12 col-md-12 mt-3">
            <form action="#" th:action="@{'/patient/feedback/edit/' + ${feedback.getId()}}" th:object="${feedback}"
                  method="post" enctype="multipart/form-data">
                <div class="row py-2">
                    <div class="col-md-12 col-xl-12"><label for="feedback">Text feedback</label>
                        <textarea name="feedback" class="bg-light form-control" id="feedback" type="text"
                                  th:object="${feedback}" th:field="*{textFeedback}" required></textarea>
                    </div>
                    <div class="py-3 pb-4">
                        <button class="btn btn-success ml-3" type="submit">Save Changes</button>
                    </div>
                </div>
            </form>
        </div>
        <div>
            <a th:href="@{/patient/feedback}" type="button"
               class="btn btn-outline-danger ml-3 mt-3">Back</a>
        </div>

    </div>
</div>
</body>
</html>