<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/patient_success_order_layout}">
<head>
    <meta charset="UTF-8">
    <title>My feedback all</title>
    <link href="/css/patient/loaded_analyses.css" rel="stylesheet">
</head>

<body>
<div layout:fragment="patient_orders_content">

    <tr th:each="feedback,iter : ${pageData.getItems()}">
        <td th:text="${iter.count}"></td>
        <td th:text="${#calendars.format(feedback.getCreated(),'dd MMMM yyyy HH:mm')}"></td>
        <td>
            <a th:href="@{'/patient/feedback/edit/' + ${feedback.getId()}}" type="button" class="btn btn-primary">edit</a>
        </td>
        <td>
            <a th:href="@{'/patient/feedback/delete/' + ${feedback.getId()}}" type="button" class="btn btn-danger">delete</a>
        </td>
    </tr>
</div>
</body>
</html>