.wrapper {
    padding: 30px 50px;
    border: 1px solid #ddd;
    border-radius: 15px;
    margin: 10px auto;
}

body {
    font-family: 'Poppins', sans-serif;
    background: url('https://cloud.vodafone.ua/mmb/v2/publink/file/get?disposition_mode=inline&type=original&link=CP9s91ybkKc966T') no-repeat center center fixed;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}
h4{
    font-size: 30px;
    color: #3b3939;
}