<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/css/app.css" rel="stylesheet">
</head>
<body>

<div layout:fragment="content">
    <div class="row">
        <div class="col-12">
            <div class="card mb-2 mt-2">
                <div class="card-header">
                    All Students
                </div>
                <div class="card-body">
                    <table class="table table-sm table-hover">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Lastname</th>
                            <th>Firstname</th>
                            <th>Age</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="student,iter : ${students}">
                            <td th:text="${iter.count}"></td>
                            <td th:text="${student.getLastname()}"></td>
                            <td th:text="${student.getFirstname()}"></td>
                            <td th:text="${student.getAge()}">
                            </td>
                            <td>
                                <a th:href="@{'/students/delete/group/' + ${student.getId()} + '/' + ${group.getId()}}"
                                   type="button" class="btn btn-danger">delete</a>
                            </td>
                            <td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div>
                    <a th:href="@{'/groups/details/'+${group.getId()}}" type="button" class="btn btn-primary">Back to details Group</a>
                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html>