<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <meta charset="utf-8">
  <title>Details Student</title>
  <link href="/css/app.css" rel="stylesheet">
</head>
<body>

<div layout:fragment="content">

  <div class="row">
    <div class="col-12">
      <div class="card mb-2 mt-2">
        <div class="card-header">
          Details Student
        </div>
        <div class="card-body">
          <table class="table table-hover">
            <tr>
              <th>id</th>
              <td th:text="${student.getId()}"></td>
            </tr>
            <tr>
              <th>first name</th>
              <td th:text="${student.getFirstname()}"></td>
            </tr>
            <tr>
              <th>last name</th>
              <td th:text="${student.getLastname()}"></td>
            </tr>
            <tr>
              <th>age</th>
              <td th:text="${student.getAge()}"></td>
            </tr>
            <tr>
              <th>created</th>
              <td th:text="${#calendars.format(student.getCreated(),'dd MMMM yyyy')}"></td>
            </tr>
            <tr>
              <th>updated</th>
              <td th:text="${#calendars.format(student.getUpdated(),'dd MMMM yyyy')}"></td>
            </tr>
            <tr>
          </table>
          <hr>
        </div>
<!--        <div>-->
<!--          <a th:href="@{/students}" type="button" class="btn btn-primary">Back to list Groups</a>-->
<!--        </div>-->
      </div>
    </div>
  </div>

</div>

</body>
</html>