@import url('https://fonts.googleapis.com/css2?family=Ubuntu');
html,body {
    background: url('https://oir.mobi/uploads/posts/2021-03/1616567323_8-p-meditsinskii-fon-dlya-prezentatsii-8.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    font-family: 'Ubuntu', sans-serif;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
a.nav-item.nav-link:hover{
    cursor: pointer;
    text-decoration-line: underline;
    color: #12ccc6;
}
a.nav-item.nav-link {
    color: white;
}
.sort {
    cursor: pointer;
    margin-right: 2em;
}

div.classic{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}