<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/auth_layout}">
<head>
    <meta charset="utf-8">
    <title>Details check_up</title>
    <link href="/css/patient_profile.css" rel="stylesheet">
</head>
<body>

<div layout:fragment="auth_content">

    <div class="row">
        <div class="col-12">
            <div class="card mb-2 mt-2">
                <div class="card-header">
                    Details order
                </div>
                <div class="card-body">
                    <table class="table table-hover">
                        <tr>
                            <th>Name patient</th>
                            <td th:text="${check_up.getNamePatient()}"></td>
                        </tr>
                        <tr>
                        <tr>
                            <th>Sex</th>
                            <td th:text="${check_up.getPatient().getSex()}"></td>
                        </tr>
                            <th>Birthday</th>
                            <td th:text="${check_up.getPatient().getBirthDay()}"></td>
                        </tr>
                        <tr>
                            <th>Height</th>
                            <td th:text="${check_up.getPatient().getHeight()}"></td>
                        </tr>
                        <tr>
                        <tr>
                            <th>Weight</th>
                            <td th:text="${check_up.getPatient().getWeight()}"></td>
                        </tr>
                        <tr>
                            <th>Bad habits</th>
                            <td th:text="${check_up.getBadHabits()}"></td>
                        </tr>
                        <tr>
                            <th>Drugs taken</th>
                            <td th:text="${check_up.getDrugsTaken()}"></td>
                        </tr>
                        <tr>
                            <th>Chronic diseases</th>
                            <td th:text="${check_up.getChronicDiseases()}"></td>
                        </tr>
                        <tr>
                            <th>Hereditary diseases</th>
                            <td th:text="${check_up.getHereditary_diseases()}"></td>
                        </tr>
                        <tr>
                            <th>Features of nutrition and diet</th>
                            <td th:text="${check_up.getFeaturesNutrition()}"></td>
                        </tr>
                    </table>
                    <div class="form-group col-xl-12 col-12 p-1">
                        <label class="complaints">Complaints patient's<span></span></label>
                        <div class="card">
                            <div class="card-body">
                                <p th:text="${check_up.getComplaints()}">
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row py-2">
                    <div class="row col-xl-6 col-6 col-md-6 ml-1">
                        <p class="personal-data ml-3">Doctor:</p>
                        <h4 th:object="${check_up}" th:text="${check_up.getNameDoctor()}" class="ml-3 p-1"></h4>
                    </div>
                </div>

                <div class="form-group col-xl-12 col-12">
                    <label class="check_up">Recommended list of medical tests <span></span></label>
                    <div class="card">
                        <div class="card-body">
                            <p th:object="${check_up}" th:text="${check_up.getAnswer()}">
                            </p>
                        </div>
                    </div>
                </div>
                <div>
                    <a th:href="@{/admin/check_up}" type="button"
                       class="btn btn-outline-danger ml-3 mt-3 mb-3">Back</a>
                </div>

            </div>
        </div>
    </div>
</div>

</body>
</html>