body {
    background: url('https://oir.mobi/uploads/posts/2021-03/thumbs/1616538217_29-p-meditsina-fon-31.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    font-family: 'Numans', sans-serif;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
