h1{
    font-size: 40px;
    color: #288dc2;
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

.wrapper {
    padding: 30px 50px;
    border-radius: 15px;
    margin: 10px auto;
    opacity: 0.9;
}
.title{
    font-size: 28px;
    font-weight: bold;
    color: #424040;
}
.title-second{
    font-size: 20px;
    font-style: italic;
    color: #777777;
}

h2{
    font-size: 32px;
    color: #288dc2;
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
    text-decoration-line: underline;
    -moz-text-decoration-style: solid;
    -moz-text-decoration-color: #09aee0;
}

h4{
  font-size: 24px;
}

.card-text{
    color: #777777;
    font-size: 16px;
}

.price-text-one{
    font-size: 18px;
    font-weight: bold;
    color: #424646 ;
    font-style: italic;
    margin-top: 50px;

}

.price-text-two{
    font-size: 18px;
    font-weight: bold;
    color: #424646 ;
    font-style: italic;
    margin-top: 125px;
}

.price-text-three{
    font-size: 18px;
    font-weight: bold;
    color: #424646 ;
    font-style: italic;
}

.tales {
    width: 100%;
    height: 600px;
}
h5{
    font-size: 24px;
    font-weight: bold;
    color: #262626;
}

.carousel-text{
    font-size: 20px;
    color: #ff0000;
    /*background-color: #39b9ef;*/
}