html,body {
    background: url('https://oir.mobi/uploads/posts/2021-03/1616567323_8-p-meditsinskii-fon-dlya-prezentatsii-8.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    font-family: 'Numans', sans-serif;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

div.row.gutters-tiny.div{
    background: -webkit-linear-gradient(45deg, rgb(152, 207, 195), rgb(86, 181, 184));
    background: -moz-linear-gradient(45deg, rgb(152, 207, 195), rgb(86, 181, 184));
    background: linear-gradient(45deg, rgb(152, 207, 195), rgb(86, 181, 184));
}
.price-text-one{
    font-size: 18px;
    font-weight: bold;
    color: #424646 ;
    font-style: italic;
    margin-top: 70px;

}

.price-text-two{
    font-size: 18px;
    font-weight: bold;
    color: #424646 ;
    font-style: italic;
    margin-top: 125px;
}

.price-text-three{
    font-size: 18px;
    font-weight: bold;
    color: #424646 ;
    font-style: italic;
}