html,body {
    background: url('https://funart.pro/uploads/posts/2020-05/1588322323_2-p-foni-dlya-meditsinskikh-saitov-2.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    font-family: 'Numans', sans-serif;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

div.row.gutters-tiny.div{
    background: -webkit-linear-gradient(45deg, rgb(152, 207, 195), rgb(86, 181, 184));
    background: -moz-linear-gradient(45deg, rgb(152, 207, 195), rgb(86, 181, 184));
    background: linear-gradient(45deg, rgb(152, 207, 195), rgb(86, 181, 184));
}
body{
    background-color: lightgrey;
}