div.row.gutters-tiny.div{
    background: -webkit-linear-gradient(45deg, rgb(152, 207, 195), rgb(86, 181, 184));
    background: -moz-linear-gradient(45deg, rgb(152, 207, 195), rgb(86, 181, 184));
    background: linear-gradient(45deg, rgb(152, 207, 195), rgb(86, 181, 184));
}
body{
    background-color: lightgrey;
}