.wrapper {
    padding: 30px 50px;
    border: 1px solid #ddd;
    border-radius: 15px;
    margin: 10px auto;
    max-width: 800px;
}
body {
    font-family: 'Poppins', sans-serif;
    background: url('https://my-backet-medical-analize.s3.eu-central-1.amazonaws.com/articles/background_patient.jpg?response-content-disposition=inline&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEBAaCmV1LW5vcnRoLTEiSDBGAiEA630z1ZJ0gzQQj%2BGFjyjxzxwI5da0yK%2B0WvJB4yN6p%2B8CIQDPgqUBios%2FKWsVMVQwTEiNKoBs7BBzcYF57syTAz1JbirtAgiJ%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F8BEAAaDDU1MjI2NDUwMzI5OCIMvNBXtzaxAjgkSz7EKsECtOguV5Ib%2Fj8tJhpb6Jr3iYuR9whAfAJyGrwAMEhOfuq3Oqv%2Br6QmMz7%2BUBkBVjq81l6l76WmpGBNvwoECZZrCpfLeOuh2l0VTTpjCDYVMCrAWxrBYkEvT304igFSxxddTKelYwJJTb539zkVnOKUykbdFXHQpsJ2LGAnbAQWga%2B07m3i%2FwZsHMzUGSf38eTFWQWRs7nCgHmrygYlq%2Fn8c%2FCKZI4laZClB5rSmhlTcddHBPv8w0CucitP51kFbUY1qUVO4bDJDwg1OxWBh4LeNQ2Db50pAa1Wxbi4x7Ouc6vrMpTwoPmReXbgCjenTC%2FphEWbNJVgtUAQPbpTUHcgBQo5OOFA%2FDa4RYMiDyXnSz9BQWII8UWf4sMxa4gJMqGsCNXTi6kG%2BjVHJ4cy1RZ%2FI5msG%2FWUXOwXAO%2Fvv4dj0Yp1MPOTkpgGOrICaJxoX0g0F6xDmoD1hTxmWg2LR9b0KHHPQKiOk%2BG5FW60IryX9IQdiN7pPMPUHXpPaZJyim5%2F7SeEMJn%2Fd3MCNAdF9hfq1pOBxI0Hws1tSpqsUsHwy5E7t1JAfhi9Mt%2BH6ssIsDGojJy1wETz%2BgEVlxjaZHIH6Isl0ndByP1Frs%2BuMiZANVBuCObADZaAKvKC39yC2n3dO%2BBUvgzmWvyT0N0JR1gB6AIC%2F3OezN7R51j8gObkgSZC0pL45Lls0H%2B%2B%2B5Vk8F9S5Y4rSRYZ6cUIUNJo%2BGbD8QArMsdfXB%2FjKXdHmXAgWguHN9iwUvVLQB8%2FSSnQINZF8dD40jXwB%2BQVZsc5KCBiG%2Bw9RzTmBiku%2FaKwzskNS8Biy11Tkazd%2BKjHq4rnYNXPoHCXIfVmAgQ5H1S8&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20220823T094456Z&X-Amz-SignedHeaders=host&X-Amz-Expires=300&X-Amz-Credential=ASIAYBFMHSABJNSYMI6J%2F20220823%2Feu-central-1%2Fs3%2Faws4_request&X-Amz-Signature=e568bffb0cc0167a4b5071fe131a068e6ce3e5c25214a899af763f3dc2a2e37e') no-repeat center center fixed;
}

h2{
    font-size: 32px;
    font-weight: bold;
    color: #288dc2;
    margin-top: 5px;
    text-align: center;
}

.title{
    font-size: 20px;
    font-weight: bold;
    color: rgb(96, 95, 95);
}