<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/doctor_layout}">
<head>
    <meta charset="utf-8">
    <title>Details check_up</title>
    <link href="/css/doctor/doctor_dashboard.css" rel="stylesheet">
</head>
<body>

<div layout:fragment="doctor_content">

    <div class="row">
        <div class="col-12">
            <div class="card mb-2 mt-2">
                <div class="card-header">
                    Details order
                </div>
                <div class="card-body">
                    <table class="table table-hover">
                        <tr>
                        <th>Name patient</th>
                        <td th:text="${check_up.getNamePatient()}"></td>
                        </tr>
                        <tr>
                            <th>Sex</th>
                            <td th:text="${check_up.getPatient().getSex()}"></td>
                        </tr>
                        <tr>
                            <th>Birthday</th>
                            <td th:text="${check_up.getPatient().getBirthDay()}"></td>
                        </tr>
                        <tr>
                            <th>Height</th>
                            <td th:text="${check_up.getPatient().getHeight()}"></td>
                        </tr>
                        <tr>
                        <tr>
                            <th>Weight</th>
                            <td th:text="${check_up.getPatient().getWeight()}"></td>
                        </tr>
                        <tr>
                            <th>Bad habits</th>
                            <td th:text="${check_up.getBadHabits()}"></td>
                        </tr>
                        <tr>
                            <th>Drugs taken</th>
                            <td th:text="${check_up.getDrugsTaken()}"></td>
                        </tr>
                        <tr>
                            <th>Chronic diseases</th>
                            <td th:text="${check_up.getChronicDiseases()}"></td>
                        </tr>
                        <tr>
                            <th>Burglary complaints</th>
                            <td th:text="${check_up.getBurglaryComplaints()}"></td>
                        </tr>
                        <tr>
                            <th>Hereditary diseases</th>
                            <td th:text="${check_up.getHereditary_diseases()}"></td>
                        </tr>
                        <tr>
                            <th>Features of nutrition and diet</th>
                            <td th:text="${check_up.getFeaturesNutrition()}"></td>
                        </tr>
                    </table>
                    <hr>
                    <div class="form-group col-xl-12 col-12">
                        <label class="complaints">Complaints patient's<span></span></label>
                        <div class="card">
                            <div class="card-body">
                                <p th:text="${check_up.getComplaints()}">
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </form>
        </div>
    </div>

    <div class="wrapper bg-white mt-sm-5 p-5 mb-5">
        <h4 class="pb-4 border-bottom">Answer patient</h4>
        <form action="#" th:action="@{'/doctors/check_up/details/' + ${check_up.getId()}}"
              th:object="${check_up}" method="post">
            <div class="py-2">
                <div class="row py-2">
                    <div class="form-group col-xl-12 col-12">
                        <label for="new_feedback">Recommended list of medical test</label>
                        <textarea class="form-control" id="new_feedback" rows="3" th:field="*{answer}"
                                  required></textarea>
                    </div>
                    <button type="submit" class="btn btn-outline-primary mx-3">Submit</button>
                </div>
            </div>
        </form>
    </div>

</div>

</body>
</html>