<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/doctor_layout}">
<head>
    <meta charset="UTF-8">
    <title>All orders</title>
    <link href="/css/doctor/doctor_dashboard.css" rel="stylesheet">
</head>
<body>
<div layout:fragment="doctor_content">
<!--    <div class="wrapper bg-white mt-sm-5">-->
<!--        <div class="container-fluid">-->
<!--            <h1>All orders</h1>-->
<!--        </div>-->
<!--    </div>-->
</div>
</body>
</html>