<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/doctor_layout}">
<head>
    <meta charset="UTF-8">
    <title>All orders</title>
    <link href="/css/doctor/doctor_dashboard.css" rel="stylesheet">
</head>
<body>
<div layout:fragment="doctor_content">
    <div class="wrapper bg-white mt-sm-5 p-5">
        <h1 class="title ml-3">My work in numbers</h1>
        <div class="container-fluid">

            <div class="my-3">
                <span class="order">My success all orders:</span>
                <span class="order" th:text="${size}"></span>
            </div>

            <div class="my-3">
                <span class="order">My success List vitamins orders:</span>
                <span class="order" th:text="${countTranscript}"></span>
            </div>

            <div class="my-3">
                <span class="order">My success Check-UP orders:</span>
                <span class="order" th:text="${countCheckUp}"></span>
            </div>

            <div class="my-3">
                <span class="order">My success Consultation orders:</span>
                <span class="order" th:text="${countConsultation}"></span>
            </div>

            <div class="my-3">
                <span class="order">My salary all time:</span>
                <span class="order" th:text="${salaryDoctor}"></span>
                <span class="order">$</span>
            </div>

        </div>
    </div>
</div>
</body>
</html>