<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{fragments/admin_layout}">
<head>
    <meta charset="UTF-8">
    <title>Check_up all</title>
    <link href="/css/doctor/doctor_dashboard.css" rel="stylesheet">
</head>

<body>
<div layout:fragment="doctor_content">
    <div layout:fragment="data_table_content">
        <tr th:each="check_up,iter : ${pageData.getItems()}">
            <td th:text="${iter.count}"></td>
            <td th:text="${#calendars.format(check_up.getCreated(),'dd MMMM yyyy HH:mm')}"></td>
            <td th:text="${check_up.getNamePatient()}"></td>
            <td th:text="${check_up.getPrice()}"></td>
            <td>
                <a th:href="@{'/doctors/check_up/details/' + ${check_up.getId()}}" type="button" class="btn btn-info">Review</a>
            </td>
        </tr>
    </div>
</div>

</body>
</html>