<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/patient_layout}">

<head>
    <meta charset="UTF-8">
    <title>Loaded analyses</title>
    <link href="/css/patient/loaded_analyses.css" rel="stylesheet">
</head>

<body>
<div layout:fragment="patient_content">

    <div class="wrapper bg-white mt-sm-5 mb-5">
        <h4 class="pb-4 border-bottom">Preparation for analysis</h4>
        <div class="container-fluid mt-5">
            <div class="container p-5">

                <div class="row">
                    <div class="col text-center col-12 col-md-6 col-xl-3 d-flex align-items-stretch mt-2">
                        <div class="card" style="width: 20rem;">
                            <img src="https://cdn-icons.flaticon.com/png/512/4189/premium/4189179.png?token=exp=1642447349~hmac=27511a37ffa6689cadda1a427738f106"
                                 alt="" class="card-img-top p-5">
                            <div class="card-body d-flex flex-column">
                                <h4 class="card-title ricing-card-title"><b>Blood test</b></h4>
                                <a th:href="@{/patient/analyzes/blood}"
                                   class="btn btn-outline-success align-self-end btn btn-lg btn-block mt-auto">Read</a>
                            </div>
                        </div>
                    </div>
                    <div class="col text-center col-12 col-md-6 col-xl-3 d-flex align-items-stretch mt-2">
                        <div class="card" style="width: 20rem;">
                            <img src="https://cdn-icons.flaticon.com/png/512/4051/premium/4051190.png?token=exp=1642447397~hmac=4d530c1f758fae931e486f771a014746"
                                 alt="" class="card-img-top p-5">
                            <div class="card-body d-flex flex-column">
                                <h4 class="card-title ricing-card-title"><b>Analysis of urine</b></h4>
                                <a th:href="@{/patient/analyzes/urine}"
                                   class="btn btn-outline-success align-self-end btn btn-lg btn-block mt-auto">Read</a>
                            </div>
                        </div>
                    </div>
                    <div class="col text-center col-12 col-md-6 col-xl-3 d-flex align-items-stretch mt-2">
                        <div class="card" style="width: 20rem;">
                            <img src="https://cdn-icons.flaticon.com/png/512/5474/premium/5474829.png?token=exp=1642447444~hmac=ed4fa2251d98473406860c57e28b51f8"
                                 alt="" class="card-img-top p-5">
                            <div class="card-body">
                                <h4 class="card-title "><b>Fecal analysis</b></h4>
                                <a th:href="@{/patient/analyzes/fecal}"
                                   class="btn btn-outline-success align-self-end btn btn-lg btn-block mt-auto">Read</a>
                            </div>
                        </div>
                    </div>

                    <div class="col text-center col-12 col-md-6 col-xl-3 d-flex align-items-stretch mt-2">
                        <div class="card" style="width: 20rem;">
                            <img src="https://cdn-icons.flaticon.com/png/512/4281/premium/4281499.png?token=exp=1642447935~hmac=7275757bacafbb6ad4c15631b8183d12"
                                 alt="" class="card-img-top p-5">
                            <div class="card-body">
                                <h4 class="card-title "><b>Cytological studies</b></h4>
                                <a th:href="@{/patient/analyzes/cytological}"
                                   class="btn btn-outline-success align-self-end btn btn-lg btn-block mt-auto">Read</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

</body>
</html>