<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="utf-8">
    <title>All Personals</title>
    <link href="css/app.css" rel="stylesheet">

</head>
<body>

<div layout:fragment="content">

    <div class="row">
        <div class="col-sm-12">
            <div class="card mb-2 mt-2">
                <b><h2><div class="card-header"  th:text="${cardHeader}"></div></h2></b>
                <div class="card-body">
                    <table class="table table-hover table-light">
                        <thead class="thead-light">
                        <tr>
                            <th th:each="columnHeader : ${headerDataList}">
                                <span th:text="${columnHeader.getColumnName()}"></span>
                            </th>
                        </tr>
                        </thead>
                        <tbody>

                        <section layout:fragment="data_table_content"></section>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="card mt-2 mb-2">
                <div class="card-header">
                    <a type="button" class="btn btn-success" th:href="@{${createNew}}">Add</a>
                </div>
            </div>
        </div>
    </div>
</div>


</body>
</html>