<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="utf-8">
    <title>Details User</title>
</head>
<body>

<div layout:fragment="content">

    <div class="row">
        <div class="col-12">
            <div class="card mb-2 mt-2">
                <div class="card-header">
                    <table>
                        <tr>
                            <th><h2><b><a>User</a></b></h2></th>
                            <td><a th:href="@{'/users/details/update/' + ${user.getId()}}" type="button"
                                   class="btn btn-outline-primary ml-3">Update</a></td>
                        </tr>
                    </table>

                </div>
                <div class="card-body" style="opacity: 1.0">
                    <table class="table table-hover table-light">
                        <tr>
                            <th>id</th>
                            <td th:text="${user.getId()}"></td>
                        </tr>
                        <tr>
                            <th>Name</th>
                            <td th:text="${user.getFirstName()}"></td>
                        </tr>
                        <tr>
                            <th>Lastname</th>
                            <td th:text="${user.getLastName()}"></td>
                        </tr>
                        <tr>
                            <th>Age</th>
                            <td th:text="${user.getAge()}"></td>
                        </tr>
                    </table>

                    <table class="table table-hover table-light">
                        <th>Check:</th>
                        <tr th:each="account : ${accounts}">
                            <td th:text="${account.getAccountNumbers()}"></td>
                            <td>
                                <a th:href="@{'/transactions/new/' + ${account.getId()}}" type="button"
                                   class="btn btn-outline-primary">transaction</a>
                            </td>
                            <td>
                                <a th:href="@{'/accounts/details/' + ${account.getId()}}" type="button"
                                   class="btn btn-outline-info">info check</a>
                            </td>
                            <td>
                                <a th:href="@{'/accounts/delete/' + ${account.getId()}} " type="button"
                                   class="btn btn-outline-danger">Delete check</a>
                            </td>
                        </tr>

                    </table>

                    <table class="table">
                        <tr>
                            <td>
                                <a th:href="@{'/accounts/create/' + ${user.getId()}}" type="button"
                                   class="btn btn-outline-success">Create check</a>
                            </td>
                        </tr>
                    </table>

                    <div>
                        <a th:href="@{'/users/showTransactions/' + ${user.getId()}}"
                           type="button"
                           class="btn btn-outline-primary">All user transactions</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html>