<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <meta charset="utf-8">
  <title></title>

</head>
<body>

<div layout:fragment="content">

  <div class="row">
    <div class="col-12">
      <div class="card mb-2 mt-2">
        <div class="card-header">
            <h2><b><a style="color:#070707;">Transaction</a></b></h2>
        </div>
        <div class="card-body">
          <form action="#" th:action="@{/transactions/create}" th:object="${transaction}" method="post">
            <input type="hidden" id="accountId" aria-describedby="id" th:field="*{accountId}"
                    th:value="${accountId}" name="accountId">
            <div class="form-group">
              <label style="color:#262626;" for="transactionSum">Sum</label>
              <input type="number" class="form-control" id="transactionSum"
                     aria-describedby="transactionSum" th:field="*{transactionSum}" required>
            </div>
            <div class="form-group">
              <label>Category</label>
              <table>
                <tr th:each="operation : ${operations}">
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="selectedOperation"
                           th:text="${operation.getCategoryName()}">
                    <label style="color:white;" class="form-check-label" th:for="${operation.getId()}"
                           th:text="${operation.getCategoryName()}"></label>
                  </div>
                </tr>
                <div class="form-check">
                  <input type="hidden" class="form-check-input" name="selectedOperation"
                         value="default" id="default" checked>
                  <label class="form-check-label" for="default" text="default"></label>
                </div>
              </table>
            </div>
            <hr>
            <button type="submit" class="btn btn-success">Create</button>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>

</body>
</html>