<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/home_page_layout}">
<head>
    <meta charset="UTF-8">
    <title>About us</title>
    <style>
        .left_img {
            float: left; /* Выравнивание по левому краю */
            margin: 15px 15px 15px 7px; /* Отступы вокруг картинки */
        }

        .name {
            font-size: 30px;
            color: #373a3a;
            font-family: 'Numans', sans-serif;
        }
    </style>
</head>

<body>

<div layout:fragment="home_content">
    <div class="container-fluid mt-5">
        <p align="justify" class="name"><img src="/img/foto_rastvorceva.jpg" alt="foto" width="250" height="300"
                                             class="left_img">
            <b>Rastvorceva Irina Yurievna</b>
        </p>

        <p align="justify"> Doctor of clinical laboratory diagnostics.
            Graduated from the Kharkiv National Medical University (Ukraine) with a degree in laboratory diagnostics, in
            the
            past she
            graduated from the Kharkov Humanitarian Pedagogical Academy with a degree in sociology, social pedagogy.
            🔹In the beginning of her work in the department of the clinical diagnostic laboratory, she was engaged in
            laboratory diagnostics of body systems, after that she was engaged in numerous narrow specializations.
            🔹At the moment I am engaged in hematology, cytology, immunology in laboratory medicine.</p>

        <p align="justify">I will explain a little about these directions:</p>
        <p align="justify">💉 Hematology is a department that studies and diagnoses blood diseases (anemia, leukemia,
            thrombocytopathy, etc.)
        </p>
        <p align="justify">🔬 Cytology - deals with the diagnosis of diseases at the cellular level. First of all, it is
            assessed how much
            the material under study corresponds to the norm and if there are pathological changes, then how much
            pronounced. A bad sign is the identification of atypical cells. Material for cytology is taken from almost
            any
            field.
        </p>
        <p align="justify"> 🧬 Immunology - diagnostics of the state of the immune system, immune diseases and
            everything
            related to immunity.
        </p>
        <p align="justify">
            I love my job very much, I try to give myself to it with all my heart! And since medicine does not stand
            still,
            and everything is constantly evolving, I also try to keep up with all trends and improve (courses,
            conferences,
            seminars).
        </p>
    </div>
</div>
</body>
</html>