<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/home_page_layout}">

<head>
    <meta charset="UTF-8">
    <title>Feedbacks</title>
    <link href="/css/main_dashboard.css" rel="stylesheet">
</head>

<body>

<div layout:fragment="home_content">

    <div class="wrapper bg-white mt-sm-5">
        <div class="container-fluid">
            <h2>Feedback</h2>
            <div class="py-2">
                <div class="row py-2">
                    <div class="form-group col-md-6 col-xl-4 col-sm-12">
                        <div class="p-3 m-2 bg-light">
                            <div class="block-content">
                                <div class="mb-5">
                                    <span class="font-w600">Oleg</span>
                                    <div class="float-right">
                                        <span class="text-muted" title="15 ноября 2020 в 00:00">15-01-2022</span></div>
                                </div>
                                <div class="clearfix"></div>
                                <p>When I ordered an analysis, I read the reviews. I was surprised that all the reviews
                                    positive. And now I understand why they are positive :-)<br>
                                    Really detailed, really adequate, really everything is reasonable.<br>
                                    Many thanks. This is more than I expected. </p>
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-md-6 col-xl-4 col-sm-12">
                        <div class="p-3 m-2 bg-light">
                            <div class="block-content">
                                <div class="mb-5">
                                    <span class="font-w600">Alex</span>
                                    <div class="float-right">
                                        <span class="text-muted" title="15 ноября 2020 в 00:00">10-01-2022</span></div>
                                </div>
                                <div class="clearfix"></div>
                                <p>When I ordered an analysis, I read the reviews. I was surprised that all the reviews
                                    positive. And now I understand why they are positive :-)<br>
                                    Really detailed, really adequate, really everything is reasonable.<br>
                                    Many thanks. This is more than I expected. </p>
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-md-6 col-xl-4 col-sm-12">
                        <div class="p-3 m-2 bg-light">
                            <div class="block-content">
                                <div class="mb-5">
                                    <span class="font-w600">Irina</span>
                                    <div class="float-right">
                                        <span class="text-muted" title="15 ноября 2020 в 00:00">10-01-2022</span></div>
                                </div>
                                <div class="clearfix"></div>
                                <p>Thanks a lot! Everything was laid out on the shelves, very accessible and
                                    expanded.<br>
                                    Really detailed, really adequate, really everything is reasonable.<br>
                                    Many thanks. This is more than I expected. </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="py-2">
                    <div class="row py-2">
                        <div class="form-group col-md-6 col-xl-4 col-sm-12">
                            <div class="p-3 m-2 bg-light">
                                <div class="block-content">
                                    <div class="mb-5">
                                        <span class="font-w600">Egor</span>
                                        <div class="float-right">
                                            <span class="text-muted" title="15 ноября 2020 в 00:00">10-01-2022</span>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <p>Thanks a lot for the detailed information. The main thing for me is that the norm
                                        values
                                        used by the clinic that takes the tests do not correspond to the age of the
                                        subject.
                                        The explanation and instructions are clear.
                                        Thanks again!! </p>
                                </div>
                            </div>
                        </div>

                        <div class="form-group col-md-6 col-xl-4 col-sm-12">
                            <div class="p-3 m-2 bg-light">
                                <div class="block-content">
                                    <div class="mb-5">
                                        <span class="font-w600">Adam</span>
                                        <div class="float-right">
                                            <span class="text-muted" title="15 ноября 2020 в 00:00">05-01-2022</span>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <p>When I ordered an analysis, I read the reviews. I was surprised that all the
                                        reviews
                                        positive. And now I understand why they are positive :-)<br>
                                        Really detailed, really adequate, really everything is reasonable.<br>
                                        Many thanks. This is more than I expected. </p>
                                </div>
                            </div>
                        </div>

                    <div class="form-group col-md-6 col-xl-4 col-sm-12">
                        <div class="p-3 m-2 bg-light">
                            <div class="block-content">
                                <div class="mb-5">
                                    <span class="font-w600">Gerard</span>
                                    <div class="float-right">
                                        <span class="text-muted" title="15 ноября 2020 в 00:00">01-01-2022</span></div>
                                </div>
                                <div class="clearfix"></div>
                                <p>Thank you ❤
                                    With your service calmer and more reliable!
                                    Fast, professional, personalized, attentive and very convenient, especially with the
                                    reminder system. Many thanks to all your team! </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>

</div>

</body>
</html>