<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/home_page_layout}">

<head>
    <meta charset="UTF-8">
    <title>Feedback</title>
    <link href="/css/main_dashboard.css" rel="stylesheet">
</head>

<body>

<div layout:fragment="home_content">

    <div class="wrapper bg-white mt-sm-5">
        <div class="container-fluid">
            <h2>Feedback</h2>

        </div>
    </div>

</div>

</body>
</html>