<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/data_table}">
<head>
    <meta charset="utf-8">
    <title>All operations</title>
</head>
<body>

<div layout:fragment="data_table_content">
    <tr th:each="operation,iter : ${operations}">
        <td th:text="${iter.count}"></td>
        <td th:text="${operation.getCategoryName()}"></td>
        <td>
            <div th:switch="${operation.isCategoryIncomeExpense()}">
                <p th:case = true>
                    <a><font color="#00fc00">Income</font></a>
                </p>
                <p th:case = false>
                        <a><font color="red">Consumption</font></a>
                </p>
            </div>
        </td>
        <td>
            <a th:href="@{'/operations/delete/' + ${operation.getId()}}" type="button" class="btn btn-outline-danger">delete</a>
        </td>
    </tr>

</div>

</body>
</html>